@import "../../scss/variables/mixins";

.logo {
    background-color: #FFD700;
    width: 29.2px;
    height: 29px;
    transition: background-color var(--durationM) var(--bezierFastoutSlowin);

    @include mediaUseMotion {
        transition: transform var(--durationM) var(--bezierFastoutSlowin),
            background-color var(--durationM) var(--bezierFastoutSlowin);
    }

    :is(a:focus, a:hover, .logo:hover) & {
        background-color: var(--rgbAccent);
        transform: scale3d(1, 1, 1);
        transform-origin: bottom;
        transition: opacity 0.1s ease, background-color var(--durationM) var(--bezierFastoutSlowin);

        @include mediaUseMotion {
            transition: transform var(--durationM) var(--bezierFastoutSlowin),
                background-color var(--durationM) var(--bezierFastoutSlowin);
        }
    }
}