:root {
    --mobileNavOffset: calc(var(--spaceOuter) * 2 + var(--space2XL));
    color-scheme: dark light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

}